In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.describe()

,Unnamed: 0,Year,Length,Market Share_total,Temperature in Montreal during episode
count,616656.000000,616656.000000,616656.000000,616656.000000,533312.000000
mean,308328.500000,2017.381420,3.203963,3.011562,6.707428
std,178013.398136,0.751344,5.306656,4.919562,12.178492
min,1.000000,2016.000000,0.000000,0.000000,-27.425000
25%,154164.750000,2017.000000,2.000000,0.400000,-1.562500
50%,308328.500000,2017.000000,2.000000,1.400000,6.450000
75%,462492.250000,2018.000000,4.000000,3.400000,17.050000
max,616656.000000,2019.000000,92.000000,89.500000,34.950000

In [4]:
df.head()

,Unnamed: 0,Episode,Station,Channel Type,Season,Year,Date,Day of week,Start_time,End_time,Length,Name of show,Name of episode,Genre,First time or rerun,# of episode in the season,Movie?,Game of the Canadiens during episode?,Market Share_total,Temperature in Montreal during episode
0,1,Vidéoclips V,V Total,General Channel,Fall,2016,2016-08-29,Monday,2016-08-29 06:00:00,2016-08-29 08:00:00,8,Vidéoclips V,NaN,Music Video Clips,No,Yes,No,No,0.9,20.400
1,2,Apollo dans l'frigo,V Total,General Channel,Fall,2016,2016-08-29,Monday,2016-08-29 08:00:00,2016-08-29 08:30:00,2,Apollo dans l'frigo,NaN,Informal Education and Recreation and Leisure,No,Yes,No,No,0.5,19.125
2,3,Infopublicité,V Total,General Channel,Fall,2016,2016-08-29,Monday,2016-08-29 08:30:00,2016-08-29 09:00:00,2,Infopublicité,NaN,"Infomercials, Promotional and Corporate Videos",No,Yes,No,No,0.3,19.125
3,4,"Infos, Les",V Total,General Channel,Fall,2016,2016-08-29,Monday,2016-08-29 09:00:00,2016-08-29 10:00:00,4,"Infos, Les",NaN,News,No,Yes,No,No,1.7,18.125
4,5,"Souper presque parfait, Un",V Total,General Channel,Fall,2016,2016-08-29,Monday,2016-08-29 10:00:00,2016-08-29 10:30:00,2,"Souper presque parfait, Un",NaN,Reality Programs,No,Yes,No,No,2.2,18.250

In [5]:
df.shape

(616656, 20)

In [6]:
#sns.heatmap(df.isna())

In [7]:
df = df.drop('Unnamed: 0', axis=1)
df.head()

,Episode,Station,Channel Type,Season,Year,Date,Day of week,Start_time,End_time,Length,Name of show,Name of episode,Genre,First time or rerun,# of episode in the season,Movie?,Game of the Canadiens during episode?,Market Share_total,Temperature in Montreal during episode
0,Vidéoclips V,V Total,General Channel,Fall,2016,2016-08-29,Monday,2016-08-29 06:00:00,2016-08-29 08:00:00,8,Vidéoclips V,NaN,Music Video Clips,No,Yes,No,No,0.9,20.400
1,Apollo dans l'frigo,V Total,General Channel,Fall,2016,2016-08-29,Monday,2016-08-29 08:00:00,2016-08-29 08:30:00,2,Apollo dans l'frigo,NaN,Informal Education and Recreation and Leisure,No,Yes,No,No,0.5,19.125
2,Infopublicité,V Total,General Channel,Fall,2016,2016-08-29,Monday,2016-08-29 08:30:00,2016-08-29 09:00:00,2,Infopublicité,NaN,"Infomercials, Promotional and Corporate Videos",No,Yes,No,No,0.3,19.125
3,"Infos, Les",V Total,General Channel,Fall,2016,2016-08-29,Monday,2016-08-29 09:00:00,2016-08-29 10:00:00,4,"Infos, Les",NaN,News,No,Yes,No,No,1.7,18.125
4,"Souper presque parfait, Un",V Total,General Channel,Fall,2016,2016-08-29,Monday,2016-08-29 10:00:00,2016-08-29 10:30:00,2,"Souper presque parfait, Un",NaN,Reality Programs,No,Yes,No,No,2.2,18.250

In [8]:
df = df.drop('Name of episode', axis=1)
df = df.dropna()

In [9]:
df['Season'].value_counts().index

Index(['Fall', 'Winter', 'Summer', 'Spring'], dtype='object')

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizerE = CountVectorizer()
vectorizerN = CountVectorizer()

In [11]:
E = vectorizerE.fit_transform(df['Episode'])
df['Episode'] = E.todense()

In [12]:
N = vectorizerN.fit_transform(df['Name of show'])
df['Name of show'] = N.todense()

In [13]:
d_station = df['Station'].value_counts().index
i_station = []
for i in range(len(d_station)):
    i_station.append(i)
d = dict(zip(d_station, i_station))
df['Station'] = df['Station'].map(d)

In [14]:
d_station = df['Channel Type'].value_counts().index
i_station = []
for i in range(len(d_station)):
    i_station.append(i)
d = dict(zip(d_station, i_station))
df['Channel Type'] = df['Channel Type'].map(d)

In [15]:
d_station = df['Season'].value_counts().index
i_station = []
for i in range(len(d_station)):
    i_station.append(i)
d = dict(zip(d_station, i_station))
df['Season'] = df['Season'].map(d)

In [16]:
d_station = df['Day of week'].value_counts().index
i_station = []
for i in range(len(d_station)):
    i_station.append(i)
d = dict(zip(d_station, i_station))
df['Day of week'] = df['Day of week'].map(d)

In [17]:
d_station = df['Genre'].value_counts().index
i_station = []
for i in range(len(d_station)):
    i_station.append(i)
d = dict(zip(d_station, i_station))
df['Genre'] = df['Genre'].map(d)

In [18]:
d_station = df['First time or rerun'].value_counts().index
i_station = []
for i in range(len(d_station)):
    i_station.append(i)
d = dict(zip(d_station, i_station))
df['First time or rerun'] = df['First time or rerun'].map(d)

In [19]:
d_station = df['# of episode in the season'].value_counts().index
i_station = []
for i in range(len(d_station)):
    i_station.append(i)
d = dict(zip(d_station, i_station))
df['# of episode in the season'] = df['# of episode in the season'].map(d)

In [20]:
d_station = df['Movie?'].value_counts().index
i_station = []
for i in range(len(d_station)):
    i_station.append(i)
d = dict(zip(d_station, i_station))
df['Movie?'] = df['Movie?'].map(d)

In [21]:
d_station = df['Game of the Canadiens during episode?'].value_counts().index
i_station = []
for i in range(len(d_station)):
    i_station.append(i)
d = dict(zip(d_station, i_station))
df['Game of the Canadiens during episode?'] = df['Game of the Canadiens during episode?'].map(d)

In [22]:
df['Date'].replace(regex=True,inplace=True,to_replace=r'-',value=r'')
df['Start_time'].replace(regex=True,inplace=True,to_replace=r'-',value=r'')
df['End_time'].replace(regex=True,inplace=True,to_replace=r'-',value=r'')

df['Start_time'].replace(regex=True,inplace=True,to_replace=r':',value=r'')
df['End_time'].replace(regex=True,inplace=True,to_replace=r':',value=r'')

df['Start_time'].replace(regex=True,inplace=True,to_replace=r' ',value=r'')
df['End_time'].replace(regex=True,inplace=True,to_replace=r' ',value=r'')

In [23]:
df.head()

,Episode,Station,Channel Type,Season,Year,Date,Day of week,Start_time,End_time,Length,Name of show,Genre,First time or rerun,# of episode in the season,Movie?,Game of the Canadiens during episode?,Market Share_total,Temperature in Montreal during episode
0,0,16,1,0,2016,20160829,2,20160829060000,20160829080000,8,0,25,0,0,0,0,0.9,20.400
1,0,16,1,0,2016,20160829,2,20160829080000,20160829083000,2,0,5,0,0,0,0,0.5,19.125
2,0,16,1,0,2016,20160829,2,20160829083000,20160829090000,2,0,14,0,0,0,0,0.3,19.125
3,0,16,1,0,2016,20160829,2,20160829090000,20160829100000,4,0,2,0,0,0,0,1.7,18.125
4,0,16,1,0,2016,20160829,2,20160829100000,20160829103000,2,0,1,0,0,0,0,2.2,18.250

In [24]:
df = df.dropna()

y = df['Market Share_total']
x = df.drop('Market Share_total', axis=1)

from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler(feature_range = (0, 1))
x = min_max_scaler.fit_transform(x)

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.05, random_state=101)

In [27]:
from sklearn.ensemble import RandomForestRegressor

In [28]:
model = RandomForestRegressor(n_estimators=100)

In [ ]:
model.fit(x_train, y_train)

In [ ]:
from sklearn.metrics import r2_score
y_pred = model.predict(x_test)
r = r2_score(y_test, y_pred)
print(r)

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
mae = mean_absolute_error(y_test, y_pred)
print(mae)